<section>
  <h3>Retours et conseils pour l'agreg</h3>

  <h4>Le plus important</h4>

  <p>
    Avant de donner quelques idées sur comment s'organiser dans l'année, je pense qu'une remarque doit être faite : un an de préparation à l'agreg, c'est long. C'est long donc il faut se ménager. Si vous avez envie de prendre quelques jours de pause, prenez les. Si vous voulez passer une soirée avec vos potes, ou partir en week-end, faites le. En dehors de quelques moments critiques (à l'approche des écrits et des oraux), il n'y a pas de question à se poser : prenez du temps pour vous, vous le méritez.
  </p>

  <p>
    Un deuxième conseil, c'est d'être curieux, d'aller fouiller à la bibliothèque, et de se plonger à fond dans les choses quand on le fait. Ça se travaille, on ne naît pas avec, on peut apprendre à s'intéresser aux choses, et ça paye !
  </p>

  <p>
    Personnellement, j'ai énormément travaillé tout seul (même si j'étais dans une prépa), parce que je n'avais pas toujours le courage d'essayer de discuter avec les autres. C'est une technique qui a peu d'avantages et beaucoup d'inconvénients. Un des seuls avantages, c'est que quand on bloque sur quelque chose, on bloque tout seul, donc on va chercher toutes les ressources possibles pour se débloquer : on y apprend beaucoup sur le chemin, et une fois qu'on a compris, c'est solide. Les inconvénients, c'est qu'on reste facilement bloqué sur quelque chose très longtemps, qu'on passe facilement à côté de trucs rigolos ou de difficultés qui ont l'air de rien. Et surtout, le pire, c'est qu'on finit par se sentir très très seul, donc si vous pouvez, trouvez vous des potes qui sont dans la même situation que vous, ça peut faire du bien.
  </p>

  <h4>Le début de l'année</h4>

  <p>
    Voilà, ça y est, on se lance, on va passer l'agreg. On sait pas trop si l'on va y arriver ou pas, on commence à découvrir les leçons petit à petit. Je pense qu'à cette étape de l'année c'est bien de bien lire tous les titres de toutes les leçons, et d'identifier les sujets avec lesquels on est le moins à l'aise (voire où il va falloir tout apprendre).
  </p>

  <p>
    Ensuite, le tout premier truc à faire, je pense que c'est de se familiariser avec les livres et leur utilisation. On n'utilise pas tous les livres de la même manière, et tout le monde ne trouve pas tous les livres intéressants. C'est bien de commencer à en ouvrir quelques uns, des grands classiques (par exemple les Gourdon), et de commencer à cerner ce qu'il y a dedans. 
  </p>

  <p>
    Plus on se rapproche de Noël, plus on doit commencer à s'intéresser à ce qu'on connait le moins, il va bien falloir le faire un jour. Une stratégie qui peut être intéressante (si l'on arrive à le faire), c'est de préparer les leçons que l'on a identifiées comme étant compliquées. Il faut savoir (et c'est vrai), que préparer les oraux vous permet de creuser de façon très méthodique et précise un sujet, ce qui constitue déjà une très bonne préparation aux écrits.
  </p>
  
  <h4>L'après Nouvel An, et la préparation des écrits</h4>

  <p>
    Là tout s'accélère, on se retrouve déjà en février, les oraux, c'est dans un mois. C'est à ce moment là que j'ai commencé à vraiment travailler quasiment tout le temps. Je trouve que c'est un bon moment pour s'y mettre intensivement, vu qu'on commence à cerner pas mal les choses, et que ça fait pas une période trop longue de travail intensif.
  </p>

  <p>
    C'est peut-être à cette période là que vous allez commencer à avoir des oraux blancs. C'est un bon moment pour commencer à réfléchir à quels développements on pense proposer, et de commencer à les apprendre. Vous allez sûrement en changer pas mal, mais ça fera une base très solide pour la suite, ce qui est très très rassurant.
  </p>

  <p>
    Pour les écrits, ma technique, qui a pas trop mal marché, c'était de lire tout le programme et de me faire un petit document avec les noms de tous les théorèmes et autres trucs qu'il est attendu qu'on connaisse, puis d'essayer de les apprendre à peu près. Ensuite, j'ai fait des annales. Beaucoup d'annales. Toutes celles que je trouvais, en conditions : 6h c'est long, et il faut s'y préparer pour être capable de les exploiter jusqu'au bout à l'écrit. Attention toutefois, le problème de cette méthode, et c'est ce qui m'est arrivé, c'est qu'il suffit que le concours décide de proposer des sujets différents de d'habitude pour que l'on se retrouve complètement perdu en pleine panique à l'écrit. Lisez bien le programme.
  </p>
  
  <h4>Passer les écrits</h4>

  <p>
    Essayez de vous habituer à vous lever vraiment tôt, les écrits c'est souvent dans des endroits un peu perdus et il faut être à l'heure, donc se lever tôt. Et comme c'est des écrits, c'est bien d'avoir dormi un peu avant. Prenez à manger et à boire avec vous, ça peut toujours servir, pour faire une petite pause dans les 6h.
  </p>
  
  <h4>Préparer les oraux</h4>

  <p>
    C'est pour moi de loin la pire partie de l'année. Là, il faut s'assurer de plusieurs choses : que nos développements couvrent bien tout le programme, que l'on sait quels livres utiliser pour chaque leçon, puis surtout, bah qu'on connaît ce qu'il y a dans ces livres. C'est pas du tout trop tard pour apprendre des nouvelles, choses, mais si c'est des choses difficiles, essayez d'étaler leur apprentissage sur plusieurs semaines. On comprend toujours mieux les choses quand on s'y remet après une pause, ça débloque tout.
  </p>

  <p>
    Quelque chose qui m'a vraiment beaucoup aidé, ça a été d'écrire des plans détaillés (donc les titres des parties et sous parties, avec quelques commentaires mais pas trop non plus), puis de les apprendre. Pour les apprendre, je m'étais fait des flashcards avec Anki, ce qui est plutôt pratique mais qui demande vraiment un investissement en temps assez conséquent. 
  </p>
  
  <h4>Passer les oraux</h4>

  <p>
    Mon année, les oraux se passaient à Lille. C'est pas mal Lille, c'est mignon. 
  </p>

  <p>
    Quand on arrive pour son premier oral, on a droit à un petit speech du président du jury, trop choupi, qui nous explique que ça va bien se passer et qu'on est là pour donner le meilleur de nous mêmes devant un jury qui a pour consignes d'être sympa avec nous. Puis on tire un sujet, et on commence à préparer. On lit souvent qu'on a 2h45 pour préparer parce qu'il faut rendre son plan avant la fin des trois heures. Mais c'est faux, vu qu'on commence à préparer un peu avant l'heure de début aussi.
  </p>

  <p>
    J'ai trouvé ça extrêmement pratique d'avoir déjà des plans en tête, comme ça, vous arrivez, et vous passez pas la moitié de votre temps à organiser vos idées : c'est déjà fait, et ça fait gagner du temps très précieux. Trois heures, ça passe vite. J'ai essayé plusieurs techniques : soit de préparer d'abord le plan puis de relire les développements, ou alors le contraire. Les deux marchent très bien je trouve, donc à vous de trouver votre style là dessus.
  </p>

  <p>
    J'espère que ces quelques lignes pourront être utiles à quelqu'un, si c'est le cas tant mieux. Vous pouvez toujours me contacter à paul(dot)mangold(at)ens-lyon(dot)fr si vous avez des questions quelconques, ou pour me signaler une erreur, je vous répondrai avec plaisir ! Et surtout : bonne chance à vous !
  </p>

  <p class="right">
    <a href="./agreg.php">Retour à la page principale</a>
  </p>
  
</section>
