<section>
  <h3>Présentation</h3>

  <p>
    Bienvenue sur ma page dédiée à l'agreg. Je suppose que si vous êtes là, c'est que vous la passez aussi. Vous trouverez ici plusieurs choses.
  </p>
  <p>
    D'abord quelques petits conseils et retours de mon expérience de la préparation et du passage de l'agreg, que j'ai préparé à l'Université Lyon 1.
  </p>
  <p>
    Ensuite, des choses plus terre-à-terre : mes plans (très grossiers) de leçons, mes couplages leçons-développements, mes développements (manuscrits mais normalement lisibles), ainsi qu'une bibliographie aussi complète que possible, avec des commentaires sur les livres, pour vous donner des idées d'où regarder.
  </p>

</section>
<section>
  <h3>Remarques générales sur l'agreg</h3>

  <p>
    Pour éviter de surcharger inutilement cette page, vous trouverez sur <a href="remarques.php">cette page</a> mon retour d'expérience sur mon année d'agreg, ainsi que quelques conseils.
  </p>
  
</section>

<section>
  <h3>Leçons</h3>

  <p>
    Voilà la liste des leçons que j'ai dû préparer mon année : <a href="lecons/math.pdf">leçons de maths</a>, <a href="lecons/info.pdf">leçons d'informatique</a>. J'ai choisi de faire une impasse en maths sur la leçon 126 (Exemples d'équations en arithmétique), et en info sur la leçon 930 (Sémantique des langages de programmation).
  </p>

  <p>
    Tout se trouve dans <a href="lecons/plans.pdf">ce gros fichier</a>, où vous trouverez un petit plan et des références pour chacune des leçons, parfois avec quelques commentaires rapides, ainsi que les couplages leçons-développements. Il y a toutefois encore quelques problèmes de formatage dans ce fichier, mais il devrait au moins être lisible.
  </p>

  <p>
    J'ai aussi écrit un petit outil qui permet de générer des flashcards et un pdf à partir d'un tas de fichiers pour chaque leçon : vous pouvez télécharger tout ça <a href="https://github.com/pmangold/agreg">ici</a>. Il reste quelques petites choses à corriger, et ce n'est pas encore fonctionnel, désolé.
  </p>
  

</section>

<section>
  <h3>Développements</h3>
  
  

  <h4>Algèbre <a style="font-weight: normal;" href="dev/algebre/all_algebre.pdf">(tout télécharger)</a></h4>

  <ul>
    <li>
      <a href="dev/algebre/berlekamp.pdf">Algorithme de Berlekamp</a> : 123, 141, 151.
    </li>
    <li>
      <a href="dev/algebre/automorphismes.pdf">Automorphismes de S_n</a> : 104, 108.
    </li>
    <li>
      <a href="dev/algebre/commutant.pdf">Dimension du commutant</a> : 151, 162.
    </li>
    <li>
      <a href="dev/algebre/dunford.pdf">Dunford et l'exponentielle de matrices</a> : 153, 156, 157.
    </li>
    <li>
      <a href="dev/algebre/steiner.pdf">Ellipse de Steiner</a> : 182, 183.
    </li>
    <li>
      <a href="dev/algebre/zolotarev.pdf">Lemme de Zolotarev</a> : 105, 120, 121.
    </li>
    <li>
      <a href="dev/algebre/matrices_diag.pdf">Nombre de matrices diagonalisables de F_q</a> : 101, 123, 153, 190.
    </li>
    <li>
      <a href="dev/algebre/brauer.pdf">Théorème de Brauer</a> : 101, 105, 108.
    </li>
    <li>
      <a href="dev/algebre/burnside.pdf">Théorème de Burnside</a> : 104, 106, 152, 157.
    </li>
        <li>
      <a href="dev/algebre/cartan-dieudonne.pdf">Théorème de Cartan-Dieudonné</a> : 159, 170, 183.
    </li>
    <li>
      <a href="dev/algebre/dirichlet-faible.pdf">Théorème de Dirichlet faible</a> : 120, 121, 141.
    </li>
    <li>
      <a href="dev/algebre/kakutani.pdf">Théorème du point fixe de Kakutani et sous-groupes de GL_n(R)</a> : 106, 170, 203, 208.
    </li>
    <li>
      <a href="dev/algebre/polygones.pdf">Suite de polygônes</a> : 152, 182.
    </li>
  </ul>

  <h4>Analyse <a style="font-weight: normal;" href="dev/analyse/all_analyse.pdf">(tout télécharger)</a></h4>
  <ul>
     <li>
	<a href="dev/analyse/gradient.pdf">Algorithme du gradient à pas optimal</a> : 203, 219, 229, 233.
     </li>
     <li>
	<a href="dev/analyse/loglog.pdf">Compteur LogLog</a> : 260, 264.
     </li>
     <li>
	<a href="dev/analyse/harmonique.pdf">Développement asymptotique de la série harmonique</a> : 223, 224, 230.
     </li>
     <li>
	<a href="dev/analyse/exponentielle.pdf">Différentiabilité de l'exponentielle de matrices</a> : 156, (220), 221.
     </li>
     <li>
	<a href="dev/analyse/shannon.pdf">Échantillonage de Shannon</a> : 208, 246, 250.
     </li>
     <li>
	<a href="dev/analyse/app-implicite.pdf">Fonction C infinie non triviale telle que y^x = x^y</a> : 214.
     </li>
     <li>
	<a href="dev/analyse/formule-complements.pdf">Formule des compléments</a> : 236, 239, 265.
     </li>
     <li>
	<a href="dev/analyse/kolmogorov.pdf">Inégalités de Kolmogorov</a> : 228.
     </li>
     <li>
	<a href="dev/analyse/integrale-dirichlet.pdf">Intégrale de Dirichlet et série/transformation de Fourier</a> : 236, 246, 250.
     </li>
     <li>
	<a href="dev/analyse/laplace.pdf">Méthode de Laplace</a> : 224, 228, 239.
     </li>
     <li>
	<a href="dev/analyse/newton.pdf">Méthode de Newton</a> : 223, 226.
     </li>
     <li>
	<a href="dev/analyse/bell.pdf">Nombres de Bell</a> : 190, 243.
     </li>
     <li>
	<a href="dev/analyse/galton-watson.pdf">Processus de Galton-Watson</a> : 226, 229, 260, 264.
     </li>
     <li>
	<a href="dev/analyse/abel.pdf">Théorèmes d'Abel angulaire et taubérien faible</a> : 230, 243.
     </li>
     <li>
	<a href="dev/analyse/cauchy-lipschitz.pdf">Théorème de Cauchy-Lipschitz</a> : 220.
     </li>
     <li>
	<a href="dev/analyse/extrema-lies.pdf">Théorème des extrema liés</a> : 214, 219.
     </li>
     <li>
	<a href="dev/analyse/liapounov.pdf">Théorème de Liapounov</a> : 208, 220, 221.
     </li>
     <li>
	<a href="dev/analyse/equation-chaleur.pdf">Schéma numérique pour l'équation de la chaleur</a> : 162, 233.
     </li>
  </ul>
     

  <h4>Informatique  <a style="font-weight: normal;" href="dev/informatique/all_info.pdf">(tout télécharger)</a></h4>
  <ul>
     <li>
	<a href="dev/informatique/floyd-warshall.pdf">Algorithme de Floyd-Warshall</a> : 925, 926, (927), 931.
     </li>
     <li>
	<a href="dev/informatique/type-principal.pdf">Algorithme de type principal</a> : 923, 929.
     </li>
     <li>
	<a href="dev/informatique/kmp.pdf">Algorithme KMP</a> : 907, 927.
     </li>
     <li>
	<a href="dev/informatique/tri-rapide.pdf">Complexité moyenne du tri rapide</a> : 903, 926.
     </li>
     <li>
	<a href="dev/informatique/presburger.pdf">Décidabilité de l'arithmétique de Presburger</a> : 909, 914, 924.
     </li>
     <li>
	<a href="dev/informatique/arbre-b.pdf">Insertion dans un arbre B</a> : 901, 921, 932.
     </li>
     <li>
	<a href="dev/informatique/ackermann.pdf">La fonction d'Ackermann n'est pas primitive récursive</a> : 912.
     </li>
     <li>
	<a href="dev/informatique/rec-lambda.pdf">Les fonctions récursives primitives sont lambda-définissables</a> : 912, 929.
     </li>
     <li>
	<a href="dev/informatique/requetes-tabulaires.pdf">Minimisation de requêtes tabulaires</a> : 932.
     </li>
     <li>
	<a href="dev/informatique/tsp-euclidien.pdf">Problème du voyageur de commerce euclidien</a> : 915, 925, 928.
     </li>
     <li>
	<a href="dev/informatique/preuves-sequent.pdf">Quelques exemples de preuves en calcul des séquents</a> : 918.
     </li>
     <li>
	<a href="dev/informatique/facteurs-edition.pdf">Recherche de facteurs à distance d'édition au plus k</a> : 907, 921, 931.
     </li>
     <li>
	<a href="dev/informatique/simulation-afd.pdf">Simulation d'un automate fini déterministe à partir d'une expression régulière</a> : (907), 909, 923.
     </li>
     <li>
	<a href="dev/informatique/compacite-propositionnel.pdf">Théorème de compacité du calcul propositionnel</a> : (203), 916.
     </li>
     <li>
	<a href="dev/informatique/cook.pdf">Théorème de Cook</a> : 913, 915, 916, 928.
     </li>
     <li>
	<a href="dev/informatique/rice.pdf">Théorème de Rice</a> : (913), 914.
     </li>
     <li>
	<a href="dev/informatique/savitch.pdf">Théorème de Savitch</a> : 913, 915.
     </li>
     <li>
	<a href="dev/informatique/ordres-denses.pdf">Théorie des ordres denses</a> : (914), 918, 924.
     </li>
     <li>
	<a href="dev/informatique/tri-tas.pdf">Tri par tas</a> : 901, 903, 927, 931.
     </li>
  </ul>

</section>

<section>
  <h3>Pages (très) utiles</h3>
  
  <p>
    L'avantage de ne pas être lae premier.e à passer l'agreg, c'est qu'on trouve plein de ressources sur internet ! En particulier, il y a un certain nombre de pages web que j'ai trouvées utiles.
  </p>

  <p>
    D'abord quelques sites qui peuvent être utiles.
  </p>
  
  <p>
    <ul>
      <li>
	Le site du concours <a href="http://agreg.org">agreg.org</a>.
      </li>
      <li>
	Le site communautaire <a href="http://www.agreg-maths.fr">agreg-maths.fr</a>, une véritable mine d'or.
      </li>
      <li>
	Quelques ressources pour l'option informatique : <a href"=http://agreginfo.free.fr/">agreginfo.free.fr</a>.
      </li>
      <li>
	Un site avec quelques développements : <a href="http://dyna.maths.free.fr/">dynamaths</a>.
      </li>
    </ul>
  </p>

  <p>
    Puis des pages personnelles d'ancien.nes agrégatif.ves, avec beaucoup de ressources très utiles, et encore plus de liens vers d'autres pages personnelles pour toujours fouiller plus !
  </p>

  <p>
    <ul>
      <li>
	La page de <a href="http://perso.ens-lyon.fr">Léo Gayral</a> : micro-plans de leçons et développements.
      </li>
      <li>
	La page de <a href="http://perso.eleves.ens-rennes.fr/~vaign357/index.html">Vidal Agniel</a> : plans détaillés et développements.
      </li>
      <li>
	La page de <a href="http://perso.eleves.ens-rennes.fr/people/Antoine.Diez/">Antoine Diez</a> : plans détaillés et développements.
      </li>
      <li>
	La page de <a href="https://www-fourier.ujf-grenoble.fr/~lepetitg/agregation/agreg.html">Gabriel Lepetit</a> : méta-plans et développements.
      </li>
      <li>
	La page de <a href="https://lavigneflorian.wordpress.com/">Florian Lavigne</a> : notes de cours et plans de leçons.
    </ul>
  </p>

</section>




  <?php

function show_books($path) {
   $count = 0;
   $handle = fopen($path, "r");
   
   print("<ul>\n");
   if ($handle) {
     while (($line = fgets($handle)) !== false) {
         if($count == 0) {
            print("\t<li>\n");
            print("\t\t" . trim($line));
            print(", ");
         }
         if($count == 1) {
            print("\n\t\t<span class='book'>");
            print("\n\t\t\t" . trim($line));
            print(".\n\t\t</span>\n");
         }
         if($count == 2) {
            print("\t</li>\n\t<li class='descriptor'>");
            print("\n\t\t" . trim($line));
            print("\n\t</li>\n\n");
         }

         $count = ($count + 1) % 4;
    }
    print("</ul>");
   
   fclose($handle);
   } else {
   // error opening the file.
   }
}
   
   ?>

<section>
  <h3>Bibliographie</h3>
  
  
  <h4>Algèbre</h4>
    <?php
      show_books("books/algebre.txt")
   ?>


  <h4>Analyse</h4>
  <?php
      show_books("books/analyse.txt")
   ?>


  <h4>Informatique</h4>
  <?php
      show_books("books/informatique.txt")
   ?>



  
</section>


<!--
<section>
  <h3>Bonus</h3>


</section>
-->
