<?php

function show_cv($path) {
   $count = 0;
   $handle = fopen($path, "r");

   if ($handle) {
     while (($line = fgets($handle)) !== false) {
         if($count == 0) {
            print("\t<div class='cv_entry'>\n\t\t<h4>\n");
            print("\t\t\t" . trim($line));
            print("\n\t\t</h4>\n\n");
         }
         if($count == 1) {
            print("\t\t<p class='cv_loc'>");
            print("\n\t\t\t" . trim($line) . ".");
            print("\n\t\t</p>\n\n");
         }
         if($count > 1 && trim($line) != "") {
            print("\t\t<p class='cv_desc'>");
            print("\n\t\t\t" . trim($line) . ".");
            print("\n\t\t</p>\n\n");
         }
         if(trim($line) == "") {
            $count = 0;
            print("\n\t</div>\n\n");
         }
         else {
            $count = $count + 1;
         }


    }

   fclose($handle);
} else {
print("woooow");
   // error opening the file.
   }
}

?>

<div class="cv">
  <section>
    <p>
    You can download my CV <a href="cv/cv_fr.pdf">in French</a> or <a href="cv/cv_en.pdf">in English</a>.
    </p>

  <h3>Éducation</h3>

  <?php
   show_cv("cv/education.txt");
   ?>
</section>


<section>
  <h3>Recherche</h3>


  <?php
   show_cv("cv/recherche.txt");
   ?>
</section>


<section>
  <h3>Langues</h3>


  <?php
   show_cv("cv/langue.txt");
   ?>
</section>
</div>
