<h3>News</h3>

<ul>
  <li><span class="newsdate">February 2024.</span> New <a href="./papers/scafflsa/paper.pdf">preprint</a> online. We study federated linear stochastic approximation, propose a new method that uses control variates to mitigate bias, and apply it to federated temporal difference learning.</li>
  <li><span class="newsdate">January 2024.</span> Our <a href="./papers/relative-gaussian/paper.pdf">paper</a> has been accepted to AISTATS!</li>
  <li><span class="newsdate">November 2023.</span> I am starting a post-doc at Ecole Polytechnique.</li>
  <li><span class="newsdate">October 2023.</span> I just defended my thesis! :)</li>
  <li><span class="newsdate">August 2023.</span> New <a href="https://arxiv.org/abs/2308.15250">preprint</a> online! We propose a variant of the Gaussian Mechanism that can exploit a relaxed sensitivity assumption, and apply it to private gradient descent.</li>
  <li><span class="newsdate">July 2023.</span> I finished writing my thesis! It was intense but I am happy with the result.</li>
  <li><span class="newsdate">July 2023.</span> I attended the <a href="https://pfia23.icube.unistra.fr/conferences/cap/index.html">CAp conference</a> at Strasbourg. CAp is a nice conference for the francophone community to meet.</li>
  <li><span class="newsdate">April 2023.</span> <a href="./papers/bounded-fairness/paper.pdf">Paper</a> accepted to ICML 2023!</li>
  <li><span class="newsdate">April 2023.</span> I am in Valencia for AISTATS 2023 to present <a href="./papers/dp-greedy-cd/paper.pdf">our paper</a> [and <a href="./papers/dp-greedy-cd/poster.pdf">our poster</a>] on high dimensional private empirical risk minimization using a greedy coordinate descent approach.
  <li><span class="newsdate">April 2023.</span> I am presenting a <a href="./papers/bounded-fairness/poster.pdf">poster</a> on the interplay of fairness and privacy at the <a href="https://statlearn.sciencesconf.org/">statlearn workshop</a> in Montpellier.</li>
</ul>
