<h3>Presentation</h3>
<a href="what_phd_feels_like.html">
  <img src="photo_of_me.jpg" style="float:right; margin-left:20px" width=20% />
</a>
<p>
  Since November 2023, I am a post-doctoral researcher at Ecole
  Polytechnique, supervised
  by <a href="http://www.cmapx.polytechnique.fr/~moulines/">Eric
  Moulines</a>.
</p>

<p>
  Before Paris, I did a PhD thesis titled <i>Exploiting Problem
  Structure in Privacy-Preserving Optimization and Machine
  Learning</i>, in
  the <a href="https://team.inria.fr/magnet/">Magnet</a> team at Inria
  Lille. My supervisors were
  are <a href="http://researchers.lille.inria.fr/abellet/">Aurélien
  Bellet</a>, <a href="http://researchers.lille.inria.fr/tommasi/">Marc
  Tommasi</a>, and <a href="http://www.josephsalmon.eu">Joseph
  Salmon</a>. During my PhD, I also worked with
   <a href="https://mperrot.github.io/">Michaël Perrot</a>
  and <a href="https://www.di.ens.fr/hadrien.hendrikx/">Hadrien
  Hendrikx</a>.
</p>

<p>
  Before Lille, I was student at ENS de Lyon.  I followed
  the <!--<a href="https://datascience-x-master-paris-saclay.fr/">-->Master
  Datasciences<!--</a>--> at Université Paris-Saclay.
</p>

<p>
  In 2019, I did the agrégation de mathématiques, option
  informatique. <a href="agreg.php">This page (in french)</a> contains
  all documents related to this: lessons, proofs, together with a few
  resources, links and remarks.
</p>


<h3>Research Interests</h3>

<?php include("research_interests.html"); ?>

<p>
  You can find a list of my publications on
  the <a href="research.php?page=publications">dedicated page</a> or
  on <a href="https://scholar.google.fr/citations?user=3HUiM0sAAAAJ&hl=fr">Google
  scholar</a>, and you can contact me at paul.mangold polytechnique edu. I am
  also on <a href="https://twitter.com/pmangold_">Twitter</a>.
</p>
