<p>
  My research is centered around optimization, federated
  (reinforcement) learning, and ethical concerns that come with
  training machine learning models. Quite generally, I am interested
  in finding algorithms that can adapt to problem's structural
  properties to improve either convergence rate, communication
  complexity, or other properties like privacy and fairness.
</p>
<p>
  I am also strongly interested in methods that make training and
  using models more practical and trustworthy. In particular in
  quantification of model's uncertainty, and in procedures
  that allow learning with missing data (e.g. imputation).
</p>
<p>
  As of now, I have mostly studied convex problems, but I hope to work
  on more general classes of non-convex problems soon!
</p>
<p>
  <i>
    Feel free (and even, encouraged) to reach to me if you want to
    discuss any of these questions, I am always happy to chat!
  </i>
</p>
