<section>
  <h3>
    Publications and preprints
    <a href="https://scholar.google.fr/citations?user=3HUiM0sAAAAJ&hl=fr&oi=ao">[Google Scholar]</a>
    <a href="https://www.semanticscholar.org/author/Paul-Mangold/102977733">[Semantic Scholar]</a>
    <a href="https://hal.inria.fr/search/index/?q=%2A&authFullName_s=Paul+Mangold">[HAL]</a>
  </h3>


<?php
require 'parse_bib_file.php';
require 'format_author.php';

$ref_items = parse_bib_file("references/publications.bib");
$last_year = 0;

foreach($ref_items as $item) {
  if(isset($item["year"])) {
    if($last_year != $item["year"]) {
      if($last_year != 0) {
        echo "</ul>\n";
      }
      $last_year = $item["year"];
      echo "<h4>" . $item["year"] . "</h4>\n";
      echo "<ul class='references'>\n";
    }
  }

  echo format_bib_item($item);
}

?>
</ul>
</section>
