<section>
  <h3>Présentation</h3>

  <p>
    Bienvenue sur ma page dédiée à l'agreg. Je suppose que si vous êtes là, c'est que vous la passez aussi. Vous trouverez ici plusieurs choses.
  </p>
  <p>
    D'abord quelques petits conseils et retours de mon expérience de la préparation et du passage de l'agreg, que j'ai préparé à l'Université Lyon 1.
  </p>
  <p>
    Ensuite, des choses plus terre-à-terre : mes plans (très grossiers) de leçons, mes couplages leçons-développements, mes développements (manuscrits mais normalement lisibles), ainsi qu'une bibliographie aussi complète que possible, avec des commentaires sur les livres, pour vous donner des idées d'où regarder.
  </p>

</section>

