<?php
 require 'parse_bib_file.php';
 require 'format_author.php';


 $file_list = glob('references/*.bib');
 $readings_topics = $file_list;
?>


<nav class="subnav">
  <ul>
  <?php
    foreach($readings_topics as $topic_path) {
      $info = pathinfo($topic_path);
      $topic_name = str_replace('_', ' ', basename($topic_path,'.'.$info['extension']));
      if($topic_name != "publications") {
        if($topic_name == $topic) {
          $page_topic_path = $topic_path;
          echo "\t<li class='current'><a href='research.php?page=readings&topic=" . $topic_name . "'>" . $topic_name . "</a></li>\n";
	}
	else {
          echo "\t<li><a href='research.php?page=readings&topic=" . $topic_name . "'>" . $topic_name . "</a></li>\n";
	}
      }
     }
  ?>
  </ul>
</nav>
<section>

  
  <ul class="references">
    <?php
      if($topic != "none") {
        $ref_items = parse_bib_file($page_topic_path);

        foreach($ref_items as $item) {
           echo format_bib_item($item);
          }
      }
      else {
        echo "<p>\n\tThis page contains some references about different topics. Click on one topic above to see references corresponding to it.\n</p>";
      }
    ?>
  </ul>
</section>


