/*
  colors : #BFD8D2 (powder), #FEDCD2 (peach), #DF744A (warm), #DCB239 (lemon)
*/

html {
    //    background-color: #fce3f6;
    overflow-y: scroll;
}

body {
    font-family: Serif;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    width: 100%;
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
}

header img {
    float: left;
    margin: 0 auto;
    margin-top: -10px;
}

header h1 {
    font-family: Serif;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.7em;
    margin-bottom: 0;
}

header h2.subtitle{
    margin-top: 0;
    font-family: Serif;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1em;
    color: #555555;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: orchid;
}

nav {
    font-variant: small-caps;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #333333;
    padding-top: 0px;
}

nav ul {
    text-align: center;
    display: inline-block;
    margin: 0;
}

nav ul li {
    padding-right: 30px;
    list-style: none;
    float: left;
}

ul.references {
    margin-left: -1em;
}

ul.references li {
    margin-bottom: 1em;
}

nav.subnav {
    border-bottom: 1px solid gray;
    color: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 2px;

}

nav li.current a{
    color: black !important;
}

section {
    width: 100%;
    border-bottom: 2px dashed gray;
}

section ul li:before {
    content: '\b7\a0'; /* \b7 is a middot, \a0 is a space */
}


section ul li {
    margin-bottom: 2px;
    list-style:none;
    text-indent:-.5em; /* helps make it look more like it's a bullet. */
}

section .descriptor {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 0.95em;
    list-style: none;
    text-align: justify;
}


section ul li.descriptor:before {
    content: ''; /* \b7 is a middot, \a0 is a space */
}

section h3 {
    font-weight: normal;
    font-variant: small-caps;
    border-bottom: 1px solid gray;
}

h5.ultitle {
    margin-bottom: 0;
    margin-left: 10px;
}


/*
  nested ordered lists
  cf: https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1
*/

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 1.6em;
}

li > ol {
    margin-top: 0.8em;
}

ol > li:before {
    width: 1.2em;
    content: counters(item, " ") "  ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    position: relative;
    margin: 0;
    margin-top: 0.5em;
    margin-left: -0.5em;
}

li ol > li:before {
    width: 2.2em;
    content: counters(item, " ") " ";
}

li ul {
    margin-left: -2.8em;
    margin-top: 0.6em;
}

section p {
    text-align: justify;
}


.book {
    font-style: italic;
}

h4 {
    font-variant: small-caps;
    font-weight: normal;
    border-bottom: 1px solid gray;
}

h5 {
    font-variant: small-caps;
    font-weight: normal;
}



.cv h4 {
    float: left;
    margin: 0;
    margin-left: -2em;
    margin-right: 1em;
}

.cv .cv_desc {
    margin-top: 0.5em;
}

.cv .cv_loc {
    font-variant: small-caps;
    margin: 0;
}

.cv_entry {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

.right {
    text-align: right;
}


span.authors {
    color: #444444;
}

span.title {
    font-style: italic;
}

span.journal {
    color: #BB00BB;
}

span.newsdate {
    font-style: italic;
}
