<h3>Teaching</h3>

<p>
  I teach at Lille University, where I do a machine learning course for master's students and a machine learning/graph cours for bachelor students.
  More details on <a href="teaching.php">this page</a>.
</p>
