<section>
  <!--<h3>Enseignements</h3>-->

  <h3>2020&ndash;2021</h3>
  <h4 id="2021-Graphes">Programmation d’une Intelligence Artificielle : arbres ou apprentissage automatique (L3 MIASHS)</h4>

  <?php
   include("course/graphes/description.php");
   ?>

  <h4>Sciences des données (M1 Data Science)</h4>

  <p>
    J'ai également donné des TP pour le cours de sciences des données, donné par Marc Tommasi à l'Université de Lille en M1.
  </p>
</section>
